{
    "extends": ["react-app", "airbnb", "plugin:react/jsx-runtime"],
    "plugins": [
        "eslint-plugin-import",
        "eslint-plugin-jsdoc",
        "eslint-plugin-react-hooks",
        "eslint-plugin-unicorn",
        "react"
    ],
    "rules": {
        "semi": "error",
        "quotes": ["error", "double"],
        "import/no-unresolved": 0
        // "react/forbid-prop-types": "off",
        // "import/no-extraneous-dependencies": "off"
    },
    "settings": {
        "import/core-modules": ["react"]
    },
    "root": true
}