.tasksRootContainer {
  margin: 20px 30px;

  .filterTypeSelectorContainer {
    display: flex;
    column-gap: 10px;
    .buttonContainer {
      flex: 1;

      .filterTypeSelector {
        height: unset;
        padding: 18px 0;

        &.selected {
          border-bottom: 2px solid #444;
        }

        &.notSelected {
          opacity: 0.65;
        }
      }
    }
  }

  .filterContainer {
    .searchBtnContainer {
      margin: 10px 0;
    }
  }

  .taskContainer {
    .searchResult {
      margin: 20px 0;
      p {
        font-size: 18px;
        span {
          margin: 0 10px;
        }
      }
    }
  }
}

.taskMetaContainer {
  p {
    span {
      &:first-of-type {
        font-size: 20px;
        font-weight: 700;
      }
      &:last-of-type {
        margin-left: 10px;
      }
    }
  }
}
