.singleTaskRootContainer {
  border-bottom: 2px solid #444;
  margin: 10px 0;
  padding: 10px 20px;
  background: rgba($color: #ccc, $alpha: 0.15);

  .innerContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    &.taskPage {
      flex-direction: column;
    }

    .metaContainer {
      width: 200px;
    }

    .imageContainer {
      flex: 1;
      img {
        width: 100%;
      }

      .taskPointImageContainer {
        display: none;
        justify-content: flex-end;
        margin: 10px 0;
        img {
          width: 700px;
        }
      }
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: right;

    .button {
      width: 130px;
    }
  }

  &.deleted {
    display: none;
  }
}
