.singleTaskRootContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px 20px;
  background: rgba($color: #ccc, $alpha: 0.15);
  border-bottom: 2px solid #444;

  img {
    max-width: 200px;
  }
}
