@import "../../../../styles/variables";

.dropdownRootContainer {
  .innerContainer {
    display: flex;
    flex-direction: column;
    .previewImage {
      box-sizing: border-box;
      border: 2px solid transparent;
    }
  }

  .filePath {
    border: 2px solid #000;
    color: $error-bg-color;
    font-size: 14px;
    padding: 10px;
  }
}
