.newTaskRootContainer {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  background: rgba($color: #ccc, $alpha: 0.5);
  padding: 10px;

  .input {
    input {
      background: #fff;
      margin-top: 10px;
    }
  }
}
