.headerRootContainer {
    display: flex;
    justify-content: end;
    padding: 10px 20px;
    background: rgba($color: #ccc, $alpha: 1);

    .menuContainer {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
}