.adminFilterRootContainer {
  padding: 20px;

  .filter {
    &.inline {
      .dropdownHelper {
        flex: 1;
      }

      display: flex;
      gap: 10px;
      flex-direction: column;
    }
  }
}
