.periodsRootContainer {
  display: flex;
  background: rgba($color: #ccc, $alpha: 0.5);
  padding: 10px;
  flex-direction: column;

  .newPeriodInput {
    input {
      background: #fff;
      margin-top: 10px;
    }
  }

  .saveNewPeriod {
    margin-top: 10px;
  }
}
